@import 'mixins';
@import 'colors';

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  text-align: center;

  ::selection {
    background-color: $light-pink;
    color: $white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  @media (min-width: 800px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.7rem;
  @media (min-width: 800px) {
    font-size: 2.7rem;
  }
}

p {
  color: $dark-cyan;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

// reusable
.button {
  @include desktop-bp {
    font-size: 1.3rem;
    padding: 2.2rem 10% 2rem;
  }
  background: $pink;
  border-radius: 10rem;
  box-shadow: 0 0 15px 0 rgba($dark-cyan, .2);
  color: $white;
  font-weight: 700;
  padding: 1.4rem 15% 1.2rem;
  text-decoration: none;

  &:hover {
    background: $light-pink;
  }
  @include transition-ease;
}

.is-outline {
  background: $white;
  border: 2px solid $pink;
  color: $pink;
  padding: .7rem 2rem .5rem;

  &:hover {
    background: $white;
    border-color: $light-pink;
    box-shadow: 0 0 15px 0 rgba($light-pink, .2);
    color: $light-pink;
  }
}

.anim-left {
  animation: slide-in-from-left 1.3s ease forwards;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 100%;
    transform: translateX(-100vw);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.anim-right {
  animation: slide-in-from-right 1.3s ease forwards;
}

@keyframes slide-in-from-right {
  0% {
    opacity: 100%;
    transform: translateX(100vw);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.anim-fade-in {
  animation: fade-in 1.3s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.is-hidden {
  opacity: 0;
}

// Top section
.section1 {
  &__head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4%;

    .brand__logo {
      @include desktop-bp {
        width: 14rem;
      }
      width: 9rem;
    }

    .button {
      @include desktop-bp {
        transform: scale(1);
      }
      font-weight: 400;
      transform: scale(.8);
    }
  }

  &__body {
    @include desktop-bp {
      padding-bottom: 10%;
      padding-top: 8%;
    }
    padding: 20% 10% 25%;

    .subtitle {
      @include desktop-bp {
        padding-left: 22%;
        padding-right: 22%;
      }
      font-size: 1.3rem;
      padding-bottom: 4rem;
    }
  }
}

// screen-mockups section
.screen-mockups {
  img {
    @include desktop-bp {
      width: 70%;
    }
  }
}

// Brag section
.brag {
  @include two-flex;
  @include desktop-bp {
    justify-content: space-between;
    padding: 5% 18% 10%;
  }
  padding: 26% 26% 10%;
  text-align: left;

  .brag__item1 {
    @include desktop-bp {
      padding-bottom: 0;
    }
    padding-bottom: 8rem;
  }

  p {
    color: rgba($dark-cyan, .7);
    margin-top: 0;
    text-align: center;

    strong {
      @include desktop-bp {
        font-size: 6rem;
      }
      color: $dark-cyan;
      display: block;
      font-size: 14vw;
      font-weight: 700;
      height: 5rem;
      margin-bottom: 15%;
      margin-top: 0;
    }
  }
}

// Grow together section
.grow-together {
  @include two-flex($desktop-reverse: true);
  @include three-sections;
  @include desktop-bp {
    @include three-sections($desktop: true);

    height: 80vh;

    &__text {
      max-width: 40%;
      padding: 10% 0 10% 4%;
      text-align: left;

      p {
        font-size: 1rem;
      }
    }
  }

  &__top-wave {
    @include desktop-bp {
      background-image: url('../images/bg-section-top-desktop-1.svg');
      height: 12vw;
    }
    background: url('../images/bg-section-top-mobile-1.svg');
    //background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
    width: 100%;
  }

  &__bottom-wave {
    @include desktop-bp {
      background-image: url('../images/bg-section-bottom-desktop-1.svg');
      height: 10vw;
    }
    background: url('../images/bg-section-bottom-mobile-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vw;
    width: 100%;
  }
}

.flowing-conversations {
  @include two-flex;
  @include three-sections;
  @include desktop-bp {
    @include three-sections($desktop: true);
    background: $white;
    height: 80vh;

    &__text {
      max-width: 40%;
      padding: 10% 0 10% 4%;
      text-align: left;

      p {
        font-size: 1rem;
      }
    }
  }
  background: $white;
}

.your-users {
  @include two-flex($desktop-reverse: true);
  @include three-sections;
  @include desktop-bp {
    @include three-sections($desktop: true);
    height: 80vh;

    &__text {
      max-width: 40%;
      padding: 10% 0 10% 4%;
      text-align: left;

      p {
        font-size: 1rem;
      }
    }
  }

  &__top-wave {
    @include desktop-bp {
      background-image: url('../images/bg-section-top-desktop-2.svg');
      height: 11vw;
    }
    background: url('../images/bg-section-top-mobile-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27vw;
    width: 100%;
  }

  &__bottom-wave {
    @include desktop-bp {
      background-image: url('../images/bg-section-bottom-desktop-2.svg');
      height: 7vw;
    }
    background: url('../images/bg-section-bottom-mobile-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27vw;
    width: 100%;
  }
}

.cta {
  @include desktop-bp {
    padding: 0;
  }
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center;

  &__content {
    height: 30vh;
  }

  h1 {
    @include desktop-bp {
      margin-bottom: 8%;
    }
    margin-bottom: 20%;
  }
}

.end {
  @include two-flex($mobile-reverse: true);
  align-items: center;

  background: $dark-cyan;
  justify-content: space-around;
  text-align: left;

  img {
    display: inline;
    height: auto;
    width: 1.5rem;
  }

  * {
    color: $white;
  }

  &__top-wave {
    @include desktop-bp {
      background-image: url('../images/bg-footer-top-desktop.svg');
      height: 11vw;
    }
    background: url('../images/bg-footer-top-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    width: 100%;
  }

  &__about {
    max-width: 80%;
  }

  &__contact {
    max-width: 80%;
  }

  &__p {
    margin-bottom: 2rem;
  }

  @include desktop-bp {
    align-items: baseline;

    &__about {
      max-width: 25%;
    }

    &__contact {
      max-width: 38%;
      padding-left: 10%;
    }

    &__p {
      font-size: 1rem;
      font-weight: 600;
      max-width: 75%;
    }
  }

  &__logo {
    fill: $white;
    margin-top: 6rem;
  }

  .phone {
    align-items: center;
    column-gap: 1rem;
    display: flex;
  }

  .mail {
    align-items: center;
    column-gap: 1rem;
    display: flex;
  }

  i {
    margin-top: 2rem;
    padding-right: 1.2rem;
  }

  &__newsletter {
    font-size: 1.7rem;
    font-weight: 700;
  }

  form {
    display: flex;
    flex-direction: column;

    .email {
      border: 0;
      border-radius: .4rem;
      color: $dark-cyan;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      max-height: 3.6rem;
      min-height: 3.6rem;
      padding-left: 1.5rem;

      &:hover {
        transform: scale(1.005);
        transform-origin: center;
        transition: transform .3s ease-in-out;
      }

      &:focus {
        border: 0;
        outline: none;
      }
    }

    .button {
      align-self: flex-end;
      border: 0;
      border-radius: .4rem;
      font-size: 1.1rem;
      max-height: 3.6rem;
      max-width: 50%;
      min-height: 3.6rem;
      min-width: 50%;
      padding: 3% 0 2%;

      &:focus {
        outline: none;
      }
    }
    @include desktop-bp {
      flex-direction: row;
      justify-content: space-between;

      .email {
        margin-bottom: 0;
        max-width: 50%;
        min-width: 50%;
      }

      .button {
        max-width: 30%;
        min-width: 30%;
      }
    }
  }
}

footer {
  background: $dark-cyan;
  padding-bottom: 11px;
  padding-top: 11px;
}

.attribution {
  color: $white;
  //use @include mixins.center; to center things
  font-size: 11px;
  margin: 0;
  text-align: center;

  a {
    @include transition-ease;
    color: $pink;
    text-decoration: none;

    &:hover {
      color: $light-pink;
    }
  }
}
